.logo {
    height: 100px;
    margin: 16px;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.back{
  background: linear-gradient(151deg, rgba(224,239,255,1) 0%, rgba(226,226,226,1) 100%);
  /* background-color: #D123; */
}
.back-foo{
  background-color: #1d3d5d;
  color: #fff;
}

.site-layout .site-layout-background {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.site-layout-card{
  background-color: #d6eaff;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  color: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
.gravatar{
  width: 5rem;
}
.login-form {
  max-width: 400px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.conf-descri{
  margin-top: 3rem;
}
.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 200px;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}